<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="/studentProfile.css">
<meta charset="ISO-8859-1">
<title>Student Profile</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>
<!-- Title of page -->
<h1> Student Profile</h1>

<!-- <div class = "parent" class="align-baseline">
<div class="dropdown" class="align-top"> -->
  <!-- <button onclick="myFunction()" class="dropbtn align-baseline">Menu</button> -->
  <!-- <form action="/profile/MyThoughts.html" method="post" style="border:1px solid #ccc"> -->
  <!-- <div id="myDropdown" class="dropdown-content">
    <a href="studentProfile.html">My Info</a>
    <a href="/myWork.html">My Work</a>
    <a href="/MyThoughts.html">My Thoughts</a>
    <a href = "/Gallery.html"> My Pictures </a>
  </div> -->
  <!-- </form> -->


  <script>

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }</script>
</head>

<body background="http://cdn.wallpapersafari.com/37/15/O9MYe3.jpg">

<div class = "parent" class="container">

	<div class = "row">

		<div class="dropdown" "align-top" "col-md-1">

  			<button onclick="myFunction()" class="dropbtn align-baseline">Menu</button>
  				<div id="myDropdown" class="dropdown-content">
    				<a href="/studentProfile.ejs">My Info</a>
    				<a href="/myWork.html">My Work</a>
    				<a href="/MyThoughts.html">My Thoughts</a>
    				<a href = "/Gallery.html"> My Pictures </a>
  				</div>
		</div>
 		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
 		<div class = "col-md-2">
			<h1 class = "align-baseline"> My Profile</h1>
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
		<div class = "col-md-1">
			<!--empty-->
		</div>
	</div>

</div>

<div class = profPic class="align-baseline">
	<img id = "profilePic" src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png"  alt="Profile Picture" />
</div>

<div class = "Name">
	<h2><%= FirstName+" "+LastName %> </h2>
</div>



<div class = "profileDetails">
	<h2 text-align="center"> Grade: <%= Grade %> </h2>
	<h2 text-align="center"> Tickets: <%= Tickets %> </h2>
</div>

</body>
</html>
